:root {
    --primary-color: #212121;
    --secondary-color: #93e03f;
    --accent-color: #e74c3c;
    --hover-primary-background: #ffffff10;
    --hover-secondary-color: #93e03f80;
    --hover-button-background: #92e03fdd;
}

:root {
    --black-color: #000000;
    --dark-gray-color: #333333;
    --gray-color: #808080;
    --light-gray-color: #d3d3d3;
    --white-color: #ffffff;
    --les-line-color: #555;
    --footer-icon-color: #93e03f;
}

:root {
    --warning-color: #f39c12;
    --success-color: #27ae60;
    --error-color: #c0392b; 
}