:root {
    --primary-color: #212121;
    --secondary-color: #93e03f;
    --hover-primary-background: #ffffff10;
    --hover-secondary-color: #93e03f80;
    --hover-button-background: #92e03fdd;
}

:root {
    --black-color: #000000;
    --darker-gray-color: #222222;
    --dark-gray-color: #333333;
    --dark-4-gray-color: #444444;
    --gray-color: #808080;
    --light-gray-color: #d3d3d3;
    --white-color: #ffffff;
    --les-line-color: #555;
    --footer-icon-color: #93e03f;
}

:root {
    --warning-color: #f39c12;
    --success-color: #27ae60;
    --error-color: #c0392b;
}

#error-box {
    background-color: #f44336;
    color: white;
}

#warning-box {
    background-color: #ff9800;
    color: white;
}

#success-box {
    background-color: #4caf50;
    color: white;
}

.message-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 999;
}

.message-box span {
    display: block;
    text-align: center;
}