* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 0;
    padding: 0;
}

.forum-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.forum-chat-box {
    width: 80%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forum-header {
    color: #fff;
    margin-bottom: 15px;
}

#message-form {
    display: flex;
    justify-content: space-between;
}

#message-input {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button {
    width: 18%;
    padding: 8px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}