* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    height: 60px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 20px;
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 22px;
    padding: 4px 12px;
    border-radius: 5px;
    transition: .2s all ease-in-out;
}

header .logo img {
    width: 40px;
    aspect-ratio: 1/1;
}

header .logo:hover {
    background-color: var(--hover-primary-background);
}

.bg-empty:hover {
    background-color: var(--hover-primary-background);
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: .3s all ease-in-out;
    padding: 0 10px;
    border: none;
}

.nav-links ul:hover a {
    color: var(--hover-secondary-color);
    border: none;
}

.nav-links ul li a:hover {
    color: var(--secondary-color);
    border: none;
}

.button-box {
    display: flex;
    gap: 10px;
}

.button-box button {
    border: 1px solid transparent;
    padding: 12px;
    background-color: transparent;
    color: var(--secondary-color);
    border-radius: 4px;
    transition: .2s all ease-in-out;
}

.button-box .signup-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid transparent;
}

.button-box .signup-btn:hover {
    background-color: var(--hover-button-background);
}