.chart-container {
    display: flex;
    flex-direction: column;
}

.chart-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#activityChart {
    width: 400px;
    height: 250px;
    max-width: 400px;
    max-height: 250px;
}

.chart-container-header {
    width: 400px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.chart-1 {
    width: 420px;
    height: 310px;
    background-color: var(--dark-gray-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
}